
<section class="row">
  <article class="column">
    <h2>Contents</h2>
    <%= Phoenix.View.render(AwelixWeb.PageView, "contents.html", categories: @categories) %>
  </article>
</section>

<section class="row">
  <article class="column">

    <%= Phoenix.View.render(AwelixWeb.PageView, "categories.html", categories: @categories) %>
  </article>
</section>
