<ul class="items">
<%= for %Awelix.Services.Packages.Package{name: name, url: url, stars: stars, last_commit_date: dt} <- @items do %>
  <li class="<%= gray?(dt) %>" >
    <div>
      <a href="<%= url %>"><%= name %></a>
    </div>
    <div> ⭐ <%= stars %></div>
    <div> 📅 <%= days(dt) %></div>
  </li>
<% end %>
</ul>
